
.live-example {
  margin: 3rem 0;
}

.live-example-tabs button {
  margin: 0;
  padding: 1rem 0.5rem;
  width: 50%;
  border-color: transparent;
  border-bottom-color: var(--line-separator);
}
.live-example-tabs button.current {
  border-color: var(--line-separator);
  border-bottom-color: transparent;
}
.live-example-tabs button:active {
  color: var(--primary-blue);
  background-color: transparent;
}
.live-example-tabs button:focus {
  outline: none;
}

.live-example-tabs .code {
  margin-right: -1px;
}

.join-us {
  margin: 3rem 0;
}

.home-header {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;
}

.home-header marquee {
  max-width: calc(100% - 6rem);
  margin: 0 0.5rem;
}



.home-title {
  margin: 0;
  max-width: 32rem;
}


.small-card h2 {
  color: var(--primary-blue);
  font-size: 2.625rem; /* 42px */
  margin-bottom: 0;
}
.small-card h5 {
  margin-top: 0.5rem;
}

.small-card img {
  display: none;
}

.home-secondary-title {
  max-width: 16rem;
  margin-top: 6rem;
}

.home-right-text img {
  margin-top: 3rem;
}


.home-grid {
  margin-bottom: 6rem;
}

.join-us-text {
  margin: 3rem 0;
}

@media (max-width: 767px) {
  .live-example > *:not(.shown) {
    display: none;
  }
}

@media (min-width: 768px) {

  .live-example-tabs {
    display: none;
  }

  .home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 4rem;
    margin-top: 8.25rem;
  }



  .small-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 17rem;
  }
  .small-card img {
    display: block;
  }
  .small-card h2 {
    font-size: 3rem;
    margin-top: auto;
    margin-bottom: 0;
  }
  .small-card h5 {
    margin-top: 1.5rem;
  }

  .home-right-text {
    grid-column: 2 / 4;
  }
  .home-right-text h2 {
    margin-bottom: 1rem;
  }
  .home-right-text img {
    margin-top: 7rem;
    margin-bottom: 1rem;
  }

  .live-example {
    display: grid;
    grid-template-columns: minmax(auto, calc(100% - 18rem)) minmax(18rem, auto);
    grid-template-rows: auto 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
  }
  .live-example pre {
    grid-row: 1 / 3;
    margin: 0;
  }
  .live-example .counter-link {
    margin: 1rem 0;
  }

}
@media (min-width: 992px) {
  .home-header {
    margin: 3rem 0 2rem 0;
  }
  .home-header marquee {
    max-width: calc(100% - 16rem);
  }
}



.counter h1 {
  margin-top: 0;
}
