body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

button {
  background: #3498db;
  border-radius: 4px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  outline: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

button:disabled {
    background: gray;
    color: #eee;
}

input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #999;
}

pre {
    display: inline-block;
    background-color:#eee;
    padding: 20px;
    margin: 0;
}

