.search-results-page {
}

.results {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .search-results-page {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 33% auto;
    grid-template-rows: auto 1fr;
  }
  .search-results-page h1 {
    margin: 0;
  }
  .search-results-page > * {
    grid-column: 1;
  }
  .search-results-page .results {
    grid-column: 2;
    grid-row: 1 / 3;
  }
}

