@import './styleguide/hyperapp.css';

body {
  --menu-width: 18rem;
}

.app {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

.noBodyScroll {
  overflow: hidden;
  max-height: 100vh;
}

.main-content {
  padding: 1rem 1.25rem;
  max-width: 1024px;
  position: relative;
}

.secondary-menu {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: none;
  z-index: 5;
}
.secondary-menu a {
  color: inherit;
  text-decoration: none;
  position: relative;
}
.secondary-menu a:hover {
  color: #546067;
}
.secondary-menu a:hover::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--menu-width);
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  min-height: 50vh;
  pointer-events: none;
  z-index: -1;
}
.secondary-menu a.active {
  color: var(--dark-blue);
}


/* Fix for links in titles in markdown files */
h1 a {
  text-decoration: none;
}



@media (min-width: 992px) {
  .app {
  }
  .main-content {
    margin-left: var(--menu-width);
    margin-bottom: 6rem;
    padding: 1.25rem;
  }
  .secondary-menu {
    display: flex;
  }
}


@media (min-width: 1320px) {
  body {
    --menu-width: 24rem;
  }
}


pre {
  padding: 0 !important;
  background-color: white !important;
}

code {
  display: inline-block !important;
  color: var(--dark-blue) !important;
  font-family: 'Fira Code', monospace !important;
  font-size: 1rem !important;
  background-color: white !important;
  padding: 0 !important;
}

