@import "node_modules/codemirror/lib/codemirror.css";

@import "node_modules/codemirror/theme/3024-day.css";
@import "node_modules/codemirror/theme/3024-night.css";
@import "node_modules/codemirror/theme/abcdef.css";
@import "node_modules/codemirror/theme/ambiance.css";
@import "node_modules/codemirror/theme/base16-dark.css";
@import "node_modules/codemirror/theme/bespin.css";
@import "node_modules/codemirror/theme/base16-light.css";
@import "node_modules/codemirror/theme/blackboard.css";
@import "node_modules/codemirror/theme/cobalt.css";
@import "node_modules/codemirror/theme/colorforth.css";
@import "node_modules/codemirror/theme/dracula.css";
@import "node_modules/codemirror/theme/duotone-dark.css";
@import "node_modules/codemirror/theme/duotone-light.css";
@import "node_modules/codemirror/theme/eclipse.css";
@import "node_modules/codemirror/theme/elegant.css";
@import "node_modules/codemirror/theme/erlang-dark.css";
@import "node_modules/codemirror/theme/hopscotch.css";
@import "node_modules/codemirror/theme/icecoder.css";
@import "node_modules/codemirror/theme/isotope.css";
@import "node_modules/codemirror/theme/lesser-dark.css";
@import "node_modules/codemirror/theme/liquibyte.css";
@import "node_modules/codemirror/theme/material.css";
@import "node_modules/codemirror/theme/mbo.css";
@import "node_modules/codemirror/theme/mdn-like.css";
@import "node_modules/codemirror/theme/midnight.css";
@import "node_modules/codemirror/theme/monokai.css";
@import "node_modules/codemirror/theme/neat.css";
@import "node_modules/codemirror/theme/neo.css";
@import "node_modules/codemirror/theme/night.css";
@import "node_modules/codemirror/theme/panda-syntax.css";
@import "node_modules/codemirror/theme/paraiso-dark.css";
@import "node_modules/codemirror/theme/paraiso-light.css";
@import "node_modules/codemirror/theme/pastel-on-dark.css";
@import "node_modules/codemirror/theme/railscasts.css";
@import "node_modules/codemirror/theme/rubyblue.css";
@import "node_modules/codemirror/theme/seti.css";
@import "node_modules/codemirror/theme/solarized.css";
@import "node_modules/codemirror/theme/the-matrix.css";
@import "node_modules/codemirror/theme/tomorrow-night-bright.css";
@import "node_modules/codemirror/theme/tomorrow-night-eighties.css";
@import "node_modules/codemirror/theme/ttcn.css";
@import "node_modules/codemirror/theme/twilight.css";
@import "node_modules/codemirror/theme/vibrant-ink.css";
@import "node_modules/codemirror/theme/xq-dark.css";
@import "node_modules/codemirror/theme/xq-light.css";
@import "node_modules/codemirror/theme/yeti.css";
@import "node_modules/codemirror/theme/zenburn.css";

.CodeMirror {
    height: 400px;
    font-size: 16px;
}
